/* List styles */

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
ol {
    list-style-type: none;
    width: 40%;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dbd9d9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background-color 0.7s;
}

li:hover {
    background-color: #a8a7a7;
}

.crossed {
    text-decoration: line-through;
}

#input {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: border-color 0.2s;
}

#input:focus {
    outline: none;
    border-color: #007bff; /* Change border color when focused */
}

#button {
    background-color: #4caf50;
    color: white;
    border: none;
    width: 30px;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#button:hover {
    background-color: #45a049;
}

.exit {
    background-color: #484848;
    color: white;
    padding: 2px 7px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.exit:hover {
    background-color: #ff0000;
}
